.idea/
*.iml
.project
.settings/
com.infotamia.weather/.classpath
com.infotamia.weather/.project
com.infotamia.weather/.settings/
nohup.out
src/main/resources/*.yaml
src/test/resources/*.yaml
config/config.yaml
config/datasource-config.yaml

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
